[Unit]
Description=Synchronize external monitor backlights with the default laptop backlight
Wants=modprobe@i2c-dev.service
After=modprobe@i2c-dev.service

[Service]
DynamicUser=true
SupplementaryGroups=i2c
PrivateUsers=yes
ProcSubset=pid
RestrictAddressFamilies=AF_NETLINK
IPAddressDeny=any
RestrictNamespaces=yes
ProtectKernelLogs=yes
CapabilityBoundingSet=
SystemCallFilter=@file-system @basic-io @io-event @process @signal @network-io ioctl
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
SystemCallArchitectures=native
LockPersonality=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectProc=invisible
DevicePolicy=closed
DeviceAllow=char-i2c
ProtectHome=yes
KeyringMode=private
ExecStart=/usr/lib/backlight-syncd

[Install]
WantedBy=graphical.target
